/app/javascript/mastodon/features/ui/components/link_footer.jsx
/app/javascript/mastodon/features/account/components/header.jsx
/build/**
/coverage/**
/db/**
/lib/**
/log/**
/node_modules/**
/nonobox/**
/public/**
!/public/embed.js
/spec/**
/tmp/**
/vendor/**
!.eslintrc.js
