%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero.pad-30.link-color-inherit
                  .email-row.text-left
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %p Dear yowzer,
                            %br
                            %p Somebody just changed the password for your account, @#{@resource.account.username}. If this wasn't you, contact us at mail@cardsagainsthumanity.com.
                            = render 'shared/yowza_signature'
