%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero.pad-30.link-color-inherit
                  .email-row.text-left
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %p Dear yowzer,
                            %br
                            %p Somebody just requested a password reset for your account associated with this email address. Click this button to proceed:
                            %br
                            %p #{link_to 'Reset Yowza Password', edit_user_password_url(reset_password_token: @resource.set_reset_password_token)}
                            %br
                            %p If this wasn't you, don't worry. You can just ignore this email.
                            = render 'shared/yowza_signature'
