%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero.pad-30.link-color-inherit
                  .email-row.text-left
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %p Wazzup, yowzer!?
                            %br
                            %p You just purchased the Official Yowza Ringtone, the internet’s raddest ringtone! It is attached to this email.
                            %br
                            %p Now you can inspire your friends to join the Yowza Revolution every time you receive an important call about your car’s extended warranty. This email serves as your receipt for a $0.99 payment.
                            %br
                            %p Catch you on the flip side.
                            = render 'shared/yowza_signature'
