%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero.pad-30.link-color-inherit
                  .email-row.text-left
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %p Dear rich and fancy yowzer,
                            %br
                            %p SHAZAMMM! Your account, @#{@resource.account.username}, will be upgraded with shiny gold checks and the ability to post SHAZAM within the next 5 minutes. This email serves as your receipt for a $29.99 payment.
                            = render 'shared/yowza_signature', salutation: "Shazam!"
