%table.email-table{ cellspacing: 0, cellpadding: 0 }
  %tbody
    %tr
      %td.email-body
        .email-container
          %table.content-section{ cellspacing: 0, cellpadding: 0 }
            %tbody
              %tr
                %td.content-cell.hero.pad-30.link-color-inherit
                  .email-row.text-left
                    .col-6
                      %table.column{ cellspacing: 0, cellpadding: 0 }
                        %tbody
                          %tr
                            %p Dear yowzer,
                            %br
                            %p Yowza! Thanks for upgrading to Yowza #{@yb_level}! Your account, @#{@resource.account.username}, will be upgraded within the next 5 minutes. This email serves as a receipt for your $#{@price} payment.
                            = render 'shared/yowza_signature', salutation: 'Awooga,'
